/* CSS for LynxTableXBlock */

.lynxtable_xblock{
    background-color: #f2f2f2;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-color: #19b872;
}

.lynxtable_table{
    width : 100%;
}

.lynxtable_xblock:after{
    content:"";
    display: table;
    clear: both;
}
